body {
  background-color: #000000;
}
.bg-main {
  background-color: #000000;
}
/*  */
.h-128 {
  height: 128px;
}

.h-256 {
  height: 256px;
}

.h-512 {
  height: 512px;
}

.h-720 {
  height: 720px;
}
/*  */
.w-h-128 {
  width: 128px;
  height: 128px;
}

.w-h-256 {
  width: 256px;
  height: 256px;
}

.w-h-512 {
  width: 512px;
  height: 512px;
}

.w-h-720 {
  width: 720px;
  height: 720px;
}
/*  */
.w-128 {
  width: 128px;
}

.w-256 {
  width: 256px;
}

.w-512 {
  width: 512px;
}

.smooth-width-increase {
  transition: width 0.2s ease; /* Add the transition property for width */
}

.w-720 {
  width: 720px;
}

.progress-bar-color {
  background-color: #66cccc;
}

.color-login {
  color: #66cccc;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

input[type="file"] {
  display: none;
}

/* spin animation */

.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
